.header-container{
    background-image: url(../../image/banner/banner2.jpg);
    height: 500px;
    background-size: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -50px; 
}
.header-container h2{
    color: #fff;
    font-size: 55px;
    padding-top: 200px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.header-container p{
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

.header-container h2, p{
    text-align: center;
}
.sports-detail{
    width: 800px;
    margin: auto;
}
.team-container{
    background-color: rgb(133, 185, 245);
    margin-top: -22px;
}
.team-card{
    padding: 100px;
    display: flex;
}
.team{
    display: flex;
}